<% unless edition.nil? %>
<div id="edition_<%= edition.id %>" class="edition">
<p>
  <b>Artist:</b>
  <%=h edition.artist_id %>
</p>

<p>
  <b>Image:</b>
  <%=h edition.image_id %>
</p>
  
<p>
  <b>Name:</b>
  <%=h edition.name %>
</p>
</div>
<% end %>
